{% extends "newtpl/register/base.html" %}
<style>
    .note {
        font-weight: bold;
        font-size: 12px;
    }
</style>
{% block title %}首页{% endblock %}
{% block main %}
      <div class="jumbotron">
        <h1>2015年校赛</h1>
        <hr />
        <p class="lead">2015年北京邮电大学程序设计竞赛已经开始报名，所有正式注册的北京邮电大学在读学生（含博士生、硕士生和本科生）均可报名参赛。</p>
        <p class="lead">    今年的注册报名使用赛氪网，请各参赛队由队长登陆赛氪网注册报名，完整填写参赛队信息。报名成功后，可在个人主页右上角的“我的竞赛”-“我参加的竞赛”中，查看到已报名的详细信息（包括参赛队号）。</p>
        <font class="lead" color="red">已经在本网站报名的同学请重新到赛氪网报一次</font>
        <p class="lead"></p>
        <p class="lead">报名截止时间：4月10日（周五） 14:00</p>
        <p class="lead">网络预赛时间：4月11日（周六） 13:00-18:00</p>
        <p class="lead">现场决赛时间：4月19日（周日） 09:30-14:30</p>
        <p class="lead">比赛详细信息请关注<a href="http://bbs.byr.cn/#!article/ACM_ICPC/84960">北邮人论坛算法版</a></p>
        <a class="btn btn-large btn-info" href="http://www.saikr.com/bupt/acm">去赛氪网报名</a>
      </div>
{% endblock %}
